
.transform {
    margin-top: 70px;
    background: url("./home.jpeg") no-repeat;
    min-height: 80vh;
    width: 99vw;
    background-size: cover;
    align-content: start;
    transition: 1s;
}

.transform:hover {
    opacity: 0.8px;
}

.transform:hover>.transform-para {
    opacity: 1;
    transition: 2s;
}

.transform:hover>.transform-para>h1 {
    background-color: #0000005b;
    background-image: linear-gradient(250deg, #e2a0f7, #513760);
}



.transform:hover>.transform-para>p {
    background-color: #0000005b;
    background-image: linear-gradient(-250deg, #e2a0f7, #513760);

}

.transform .transform-para {
    margin: 30px;
    opacity: 0;
    transition: 2s;
}

.transform-para h1 {
    margin-top: 300px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 72px;
    line-height: 80px;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    width: auto;
    transition: 2s;
}


.transform-para p {
    margin-left: 900px;
    margin-right: 100px;
    margin-top: 00px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
    line-height: 36px;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    transition: 2s;

}

.heading{
    text-align: center;
    font-size: 45px;
    line-height: 42px;
    font-weight: bold;
    font-family: Gilroy;
    margin-top: 70px;
    margin-bottom: 30px;
}
.subheading{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: .75rem;
    line-height: 1.75rem;
    font-size: 1.25rem;
}



.rendercard{
    display: flex;
    justify-content: space-evenly;
}