.bigdiv{
    margin-left: 40px;
}
.card{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(132, 132, 133);
    border-radius: 10px;
    background-color: rgb(230, 198, 244);
    transition-duration:0.3s;
}
.card:hover{
    transform: scale(1.1) ;
    box-shadow: 1px 1px 20px -4px rgb(0, 0, 0);
}
.img{
    margin: auto;
    height: 100px;
    width: 100px;
}
.cardtext{
    text-align: center;
    flex-wrap: wrap;
}