.Dcard{
    margin-top: 50px;
    height: 410px;
    width: 300px;
    border: 2px solid rgb(237, 223, 242);
    border-radius: 20px;
    background-color: rgb(230, 198, 244);
    transition-duration:0.3s;

}
.Dcard:hover{
    transform: translateY(-15px) ;
    box-shadow: 1px 1px 20px -4px rgb(0, 0, 0);
}

.Dpic{
    margin: 00px;
    height: 250px;
    width: 297px;
    border-radius: 20px 20px 0px 0px;
}
.Dname{
    margin-top: 10px;
    text-align: center;
}
.Dinfo{
    font-size: large;
    text-align: center;
    padding: 10px;
}
.Dicon{
    text-align: center;
    color: blueviolet;
}